DATABRICKS_HOST=https://dbc-f2710b42-e7e1.cloud.databricks.com
DATABRICKS_TOKEN=COLE_SEU_TOKEN_NOVO_LOCALMENTE
DATABRICKS_NOTEBOOK_PATH=/Workspace/Users/fabiofumio@hotmail.com/MBA_Eng_Dados_TurmaG_Energia_Solar/scripts/05_modelagem/07_regressao_logistica_clima_ear_regua_final_estruturado
DATABRICKS_ENVIRONMENT_VERSION=5
DATABRICKS_POLL_SECONDS=5
DATABRICKS_MAX_WAIT_SECONDS=900
